/*CSS reset settings here*/
*{
  margin: 0px;
  padding: 0px;
  /* outline: 1px dotted red; */
}

#wrapper{
  /* margin-top: 10px; */
  margin-top: 10px;
  /* width: 98%; */
  /* width: 970px; */
  /* width: auto; */
  height: 600px;
  /* display: inline; */
}

#main{
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: silver;
  color: black;
  /* text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px white; */
}

#arena{
  text-align: center;
}

.arena-img{
  width: 160px;
  margin: 2px;
}

.player-img{
  width: 85px;
  display: inline-block;
  margin-top: 20px;
}

.div-player{
  width: 155px;
  display: inline-block;
}

.players{
  width: auto;
  display: block;
  vertical-align: top;
  text-align: center;
}

#img-player2, #player2div {
  float: right;
}

#img-player1, #player1div  {
  float: left;
}
